<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Balino - Output</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.socket.io/4.6.0/socket.io.js"></script>
</head>

<body>
    <!-- Content Start -->
    <canvas id="output"></canvas>
    <!-- Content End -->

    <!-- Style Start -->
    <style>
        html,
        body {
            margin: 0px;
            height: 100%;
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <!-- Style End -->

    <!-- JS Elements Start -->
    <script>
        const div_out = document.getElementById('div_out')
        const output = document.getElementById('output')
        const ctx = output.getContext("2d");
    </script>
    <!-- JS Elements End -->

    <!-- JS Start -->
    <script>
        const socket = io();

        socket.on('connect', function () {
            console.log('connected...')
            socket.emit('output_id', '')
        });

        socket.on('circles_draw', function (c) {
            output.height = c.height;
            output.width = c.width;
            ctx.clearRect(0, 0, c.width, c.height);
            c["circles"].forEach((cerchio) => {
                ctx.beginPath();
                ctx.arc(cerchio["x"], cerchio["y"], cerchio["r"], 0, 2 * Math.PI);
                ctx.strokeStyle = "red";
                ctx.stroke();
                if (cerchio["id"] % 2 === 0) { // if even
                    ctx.fillStyle = "#B1A6FF"; 
                }
                else {
                    ctx.fillStyle = "#4EFF80";
                }
                ctx.fill();
            });
        });
    </script>
    <!-- JS End -->
</body>